.huiNanMap{
    float:left;
    margin-left:260px;
    margin-top:20px;
    height:100px;
    width:100px;
}
.powerPlantMap{
    float:left;
    margin-left:300px;
    margin-top:-50px;
    height:500px;
    width:500px;
}
.detail_pie
{
    width: 614px;
    height: 477px;
    position: absolute;
    /*margin-left: 5%;*/
    /*top: 59px;*/
    z-index:0;
    /*top:19%;*/
    /*margin-left:-6.7%;*/
    top: 176px;
    margin-left: -130px;
}