.menu_bottom{
    background:-webkit-linear-gradient(top, #4A4A4A, #1F1F1F,#000);
    border-top: 1px solid dimgrey;
    font-size:0px;
}
.menu_bottom ul{
  list-style: none;
  margin: 0;
  padding-left:30px;
}
.menu_bottom li{
  background-color: inherit;
  width: 120px;
}

.menu_bottom li{
    display: inline-block;
    vertical-align: top;
}
.menu_bottom div{
    width:90px;
    height:100px;
    border:0px;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}

.menu_bottom>ul>.split_line{
  width: 4px;
  height: 90px;
  background-image: url(../img/interval-line.png);
  background-size: cover;
  margin-left:40px;
}
.menu_bottom .But01{
    background:url('../img/normal-nav-ico-1.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}

.menu_bottom .But02{
    background:url('../img/normal-nav-ico-2.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}

.menu_bottom .But03{
    background:url('../img/normal-nav-ico-3.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom .But04{
    background:url('../img/normal-nav-ico-4.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom .But05{
    background:url('../img/normal-nav-ico-5.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom .But06{
    background:url('../img/normal-nav-ico-6.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom .But07{
    background:url('../img/normal-nav-ico-7.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom .But08{
    background:url('../img/normal-nav-ico-8.png');
    background-size: cover;
    float:left;
    margin-left:30px;
}
.menu_bottom>ul>.nav_BI>.But01, .menu_bottom .But01:active{
background:url('../img/active-nav-ico-1.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But02, .menu_bottom .But02:active{
background:url('../img/active-nav-ico-2.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But03, .menu_bottom .But03:active{
background:url('../img/active-nav-ico-3.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But04,.menu_bottom .But04:active{
background:url('../img/active-nav-ico-4.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But05,.menu_bottom .But05:active{
background:url('../img/active-nav-ico-5.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But06,.menu_bottom .But06:active{
background:url('../img/active-nav-ico-6.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But07,.menu_bottom .But07:active{
background:url('../img/active-nav-ico-7.png');
        background-size: cover;
}
.menu_bottom>ul>.nav_BI>.But08,.menu_bottom .But08:active{
background:url('../img/active-nav-ico-8.png');
        background-size: cover;
}