.internetPowerTop{
    background-color:white;
    height:5%;
    width:100%;
    float:left;
}
.internetPowerBottom{
    height:95%;
    width:100%;
    float:left;
}
.internetPowerPlantLeft{
    background-color : black;
    height : 100%;
    width : 50%;
    float : left;
}
.internetPowerPlantRight{
    background-color : white;
    height : 100%;
    width : 50%;
    float : left;
}