.powerTop{
    height:7%;
    width:100%;
    float:left;
}
.powerBottom{
    height:95%;
    width:100%;
    float:left;
}
.powerPlantLeft{
    height : 100%;
    width : 45%;
    float : left;
}
.powerPlantRight{
    height : 100%;
    width : 55%;
    float : left;
}
/*.powerPlantLeft{*/
/*    background-color : black;*/
/*    height : 80%;*/
/*    width : 40%;*/
/*    float : left;*/
/*}*/
/*.powerPlantRight{*/
/*    background-color : black;*/
/*    height : 80%;*/
/*    width : 60%;*/
/*    float : left;*/
/*}*/
.mapTop{
    width : 40%;
    height : 90%;
    float : left;
}
.mapBottom{
    width : 100%;
    height : 5%;
    float : left;
    margin-left:-8%;
}
.chinaMap{
    width : 55%;
    height : 100%;
    float : left;
}
.chinaMapCon{
    background-image:url("../img/chinamap-border-pc-Blue.png");
    height:140px;
    width:190px;
    margin-top:-120px;
    margin-left:80px;
}
.mapDetail{
   width : 45%;
   height : 100%;
   float : left;
}

/* left detail css style*/
.detail_02
{
    width:95%;
    height:90%;
    /*margin:5%;*/
    margin-left:10px;
    /*background-color:rgb(26,26,26);*/
    background-image:url("../img/backImg001-Blue.png");
    border-radius: 20px 20px 20px 20px;
    background-size:cover;
    float:left;
}
.detail_02_hid{
    /*width:640px;*/
    /*height:500px;*/
    width:95%;
    height:90%;
    margin-left:10px;
    /*background-image:url("../img/detail_another.png");*/
    background-image:url("../img/backImg-Blue.png");
    border-radius: 20px 20px 20px 20px;
    background-size:cover;
    float:left;
}
.detail_02_01
{
    height: 40px;
    margin-top: 2px;
    font-size: 25px;
    line-height: 40px;
    /*padding-left: 20px;*/
    color: white;
    font-family: "Microsoft YaHei";
    width: 100%;

}
.detail_02_01 > div {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.detail_02_01 > div:first-child {
    padding-left: 20px;
    font-size: 15px;
}
.detail_02_02
{
	width:20%;
	height:30%;
	position:relative;
	top: 25%;
	left: 15%;
}
.detail_02_font01
{
	width:160px;
	height:28px;
	color:white;
	font-family:"Microsoft YaHei";
	font-size:20px;
	text-align:center;
}
.font_size1
{
	height: 80px;
    font-size: 60px;
    margin-bottom: -5px;
    line-height: 80px;
}
.font_size4
{
	width:85px;
	height:25px;
	font-size:15px;
	text-align:right;
	float:left;
	color:white;
	font-family:"Microsoft YaHei";
	margin-right:5px;
}
.detail_02_font04_02
{
	width:20px;
	height:20px;
	background-image:url("../img/arrow-green.png");
	background-size:cover;
	float:left;
}
.detail_02_03
{
    width: 46%;
    height: 80%;
    /*background-color: blue;*/
    margin-top: 3%;
    margin-left: 3%;
    color: white;
    font-family: "Microsoft YaHei";
    float:left;
    /*border: 1px solid red;*/
    text-align: left;
    
}
.detail_02_04
{
    width: 25%;
    height: 8%;
    background-color: #1953FF;
    position: absolute;
    top: 42%;
    margin-left: 1%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color:white;
    font-family:"Microsoft YaHei";
    text-align:center;
    font-size: 30px;
}
.detail_001
{
    margin-top:10px;
}
.detail_02_font1
{
    font-size:15px;
    font-family : "Microsoft YaHei";
    width: 100%;
}
.detail_02_font2
{
    font-size:35px;
    font-weight: bold;
}
.detail_02_img
{
    width: 120px;
    height: 10px;
}
.detail_position01
{
    margin-left: 3%;
    /*border: 1px solid red;*/
}
.detail_position02
{
    margin-top: 100px;
}
.detail_position03
{
    margin-left: 30px;
    margin-top: 100px;
}
.detail_02_08
{
    width: 90%;
    height: 20%;
    /*background-color: teal;*/
    position: absolute;
    top: 75%;
    margin-left: 5%;
    font-family: "Microsoft YaHei";
    color: white;
    font-size: 20px;

}
.detail_pie
{
    width: 32%;
    height: 50%;
    position: absolute;
    /*margin-left: 5%;*/
    /*top: 59px;*/
    z-index:0;
    top: 24%;
    margin-left: -7.5%;
}
.another_font01
{
    color:#FF9900;
    position: absolute;
    top: 20px;
    left: 595px;
    cursor: pointer;
}
.detail_another_01
{
    width:620px;
    height:430px;
    margin-top:12px;
}
.detail_another_font
{
    /*width: 5%;*/
    /*height: 50px;*/
    color: white;
    font-family: "Microsoft YaHei";
    margin-top:60%;
    /*position: absolute;*/
    /*top: 90%;*/
    /*margin-left: 344px;*/
}
.detail_02_01 > ul {
    float: right;
    list-style: none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}

.detail_02_01 > ul > li {
    float: left;
}

.detail_02_01 > ul > li > button {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    border: 0px;
    cursor: pointer;
    margin: 0px;
    background-color: transparent;
    color: inherit;
    height: 27px;
}


.detail_02_01 > ul > li > .active {
    color: #16501D;
    background-color: #FFF;
}

.mj_content {
    width: 628px;
    height: 450px;
}
.mj_content > div {
    width: 628px;
    height: 450px;
}
.main_content_combition_out{
    width:100%;
    height:100%; 
    text-align:center;
    margin-top:10%;
}
.main_content_combition_1{
    float:left;
    width:60%;
    height:90%;
    text-align:center;
    /*margin-top:-5%;*/
    /*border: 1px solid red;*/

}
.main_content_combition_2{
    float:left;
    width: 38%;
    height:70%;
    text-align:center;
    margin-top: 5%;
        /*border: 1px solid red;*/

}
.main_content_combition_1_1{
    width:100%;
    height:35%;
    padding-top:5%;
    /*border: 1px solid green;*/
}
.main_content_combition_1_2{
    width:100%;
    height:15%;
}
.main_content_combition_1_3{
    width:100%;
    height:35%;
    /*border: 1px solid red;*/
}
.caloryChart{
    width:600px;
    height:450px;
}