<template data-controller-name="com.zhenergy.pcbi.view.averPersonProfit">
	 <div class="nav_main">
	    <div class="main-center">
            <div class="msg_top">
               <div class="msg_top1">
                   <marquee behavior="scroll" scrollamount="5">
                       <div class="msg_text">
                       <b class="newMsgIdClass"></b>
                       <!--GDP增长率<b style="color:#32FF32;" Class="valueGDPIDClass">GDP 7.8 3%↓</b>&nbsp;&nbsp;<span class="span_shuxian">|</span> &nbsp;&nbsp;PPI同比<b style="color:#32FF32;" Class="valuePPItongbiIDClass">PPI 250 2%↑</b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;制造业-同比<b Class="valuePMIproduceIDClass" style="color:#32FF32;">PMI 50 2%↑</b> &nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;非制造业-同比<b Class="valuePMInonProduceIDClass" style="color:#32FF32;"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;GDP总值<b style="color:#32FF32;" Class="valueGDPTotalIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI环比<b style="color:#32FF32;" Class="valueCPIhuanbiIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI同比<b style="color:#32FF32;" Class="valueCPItongbiIDClass"></b>-->
                       </div>
                   </marquee>
               </div> 
                <div class="msg_top2">
                    <div class="topToolAll">
                        <div class="userNameIcon" onmouseover="userHoverOn('userNameCon')" onmouseout="userHoverOut('userNameCon')" ></div>
                        <div class="userNameCon"><b class="userName"></b></div>
                    </div>
                    <div class="topToolAll">
                        <div class="userSettingIcon" onmouseover="userHoverOn('userSettingCon')" onmouseout="userHoverOut('userSettingCon')" ></div>
                        <div class="userSettingCon">
                            <a href="http://erp.zhenergy.com.cn/irj/servlet/prt/portal/prtroot/com.sap.portal.navigation.masthead.LogOutComponent?logout_submit=true" class="msg_topLogout">退出</a>
                        </div>
                    </div>
                    <div class="topToolAll">
                        <div class="userHelpIcon" onmouseover="userHoverOn('userHelpCon')" onmouseout="userHoverOut('userHelpCon')" ></div>
                        <div class="userHelpCon"><b class="userHelp" onClick="help()">帮助</b></div>
                    </div>
                    <div class="topToolAll">
                        <div class="userSkinIcon" onmouseover="userHoverOn('userSkinCon')" onmouseout="userHoverOut('userSkinCon')" ></div>
                        <div class="userSkinCon"><b class="userSkin" onClick="changeSkinCss('averPersonProfit')">夜间模式</b></div>
                    </div>
                </div>
            </div>
            <div class="content_center">
                <div id="demo" style="color:white;margin-top:10px;margin-left:40px;font-weight:bold;font-size:20px;"><span id="demo"><b onClick="doit8(1)" style="cursor:pointer;">发展保障</b> > 人均利润</span></div>
                <div class="averPersonProfit_main">
                    <div class="averPersonProfit_main_content_left">
                        <div class="averPersonProfitPanelLeft swdl" ondblclick="toWokerPropertyAndTypePage()">
                            <div class="averPersonPanel_title">员工类型<span id="employeeType"></span></div>
                            <div class="averPersonPanel_content01">
                                <div id="employeeTypeChart" style="width:450px;height:300px;"></div>
                            </div>
                        </div>
                        <div class="averPersonProfitPanelRight pjswdj" onclick="toDetailPage('人均工资')">
                            <div class="averPersonPanel_title">人均工资<span id="averSalary">百万元</span></div>
                            <div class="averPersonPanel_content02">
                                <div id="averSalaryChart" style="width:450px;height:200px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="averPersonProfit_main_content_center">
                            <div id="averPersonProfitResult" style="cursor:pointer;" onclick="toDetailPage('人均利润')">
                             </div>
                    </div>
                    <div class="averPersonProfit_main_content_right">
                        <div class="averPersonProfitPanelLeft qtcb" ondblclick="toWokerPropertyAndTypePage()">
                            <div class="averPersonPanel_title">用工性质<span id="workerProperty"></span></div>
                            <div class="averPersonPanel_content01">
                                <div id="workerPropertyChart" style="width:450px;height:300px;"></div>
                            </div>
                        </div>
                        <div class="averPersonProfitPanelRight rlcb" onclick="toDetailPage('人均营业收入记录')">
                            <div class="averPersonPanel_title">人均营业收入<span id="businessIncome">百万元</span></div>
                            <div class="averPersonPanel_content02">
                                <div id="businessIncomeChart" style="width:450px;height:200px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu_bottom">
                <ul>
                    <li class="but01">
                        <div class="But01" type="button"  onClick="doit1()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but02">
                        <div class="But02" type="button"  onClick="doit2()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but03">
                        <div class="But03" type="button"  onClick="doit3()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but04">
                        <div class="But04" type="button"  onClick="doit4()"></div>
                    </li>
                    <!--<li class="split_line"></li>-->
                    <!--<li class="but05">-->
                    <!--    <div class="But05" type="button"  onClick="doit5()"></div>-->
                    <!--</li>-->
                    <li class="split_line"></li>
                    <li class="but06">
                        <div class="But06" type="button"  onClick="doit6()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but07">
                        <div class="But07" type="button"  onClick="doit7()"></div>
                    </li>
                    <li class="split_line"></li>
                    <li class="but08 nav_BI">
                        <div class="But08" type="button"  onClick="doit8()"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>