<template data-controller-name="com.zhenergy.pcbi.view.home06">
 <div class="nav_main">
        <div class="msg_top">
            <marquee behavior="scroll"><div class="msg_text"><b style="color:#32FF32;">GDP 7.8 3%↓　PPI 250 2%↑</b> &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;工业增加值6.8 &nbsp;&nbsp;&nbsp;&nbsp;<b style="color:red;">发电增速 1.1%</b> &nbsp;&nbsp;&nbsp;&nbsp;全社会用电量预测303亿千瓦时 &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;全国平均利用 668小时</div></marquee> 
        </div>
        <div class="content_center">
            <!-- Swiper -->
            <div class="swiper-container">
           <!--     <div class="swiper-wrapper">-->
        			<!--<div class="swiper-slide swiper-no-swiping" style="background-color:;">-->
        			<!--    <div class="demo_outer">-->
           <!-- 				<div class="demo_header" style="height:7%;"></div>-->
           <!-- 				<div class="demo_jiange" style="height:50%;">社会用电量</div>-->
           <!-- 				<div style=" background-color:rgb(50,50,50);border-radius: 0px 0px 10px 10px; color: white;font-size: 40px;font-weight: 58px;font-weight: 500;font-family: 黑体;padding-top: 40px;text-align: center;height:30%">-->
           <!--     					持续完善中<br/>-->
           <!--     			           ...-->
           <!--     			</div>-->
           <!-- 			</div>-->
        			<!--</div>-->
           <!--     </div>-->
           <div class="demo_outer" style="position: relative;">
                			<div class="demo_content_top">
                				<div class="demo_header" style="height:7%;"></div>
                				<div class="demo_jiange_1"></div>
                				<div class="demo_shuzi_white" style="font-size:45px;margin-top: 10%;font-family: 微软雅黑;" >
                				<span >应收账款周转率</span>				
                				</div>
                				<!--<div class="demo_content_1">同比上升2%&nbsp;<img  src="img/write.png" class="demo_img_up" style="vertical-align:bottom;"/></div>-->
                				<!--<div style="height:20%;"></div>-->
                			</div>
                			<div class="demo_content_foot">
                				<div class="demo_jiange_2"></div>
                				<div class="demo_content_1">
                					<span style="font-size:35px;">持续完善中<br/>...</span>
                				</div>
                				<div class="demo_content_foot_1">
                			    </div>
                			</div>
                		</div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="menu_bottom">
            <ul>
                <li class="but01" id="but01">
                    <div class="But01" type="button" onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02" id="but02">
                    <div class="But02" type="button" onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03" id="but03">
                    <div class="But03" type="button" onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04" id="but04">
                    <div class="But04" type="button" onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05" id="but05">
                    <div class="But05" type="button" onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06 nav_BI" id="but06">
                    <div class="But06" type="button" onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07" id="but07">
                    <div class="But07" type="button" onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08" id="but08">
                    <div class="But08" type="button" onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
</template>