<template data-controller-name="com.zhenergy.pcbi.view.internetPowerVolume">
    <div class="nav_main">
    
        <div class="msg_top">
            <marquee behavior="scroll"><div class="msg_text"><b style="color:#32FF32;">GDP 7.8 3%↓　PPI 250 2%↑</b> &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;工业增加值6.8 &nbsp;&nbsp;&nbsp;&nbsp;<b style="color:red;">发电增速 1.1%</b> &nbsp;&nbsp;&nbsp;&nbsp;全社会用电量预测303亿千瓦时 &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;全国平均利用 668小时</div></marquee> 
        </div>
        <div class="content_center">
          <div class="internetPowerTop">
                <div id="demo" style="color:white;margin-top:5px;margin-left:40px;font-weight:bold;"><span id="demo"><b onClick="doit1()" style="cursor:pointer;">日利润</b> > 上网电量</span></div>
          </div>
          <div class="internetPowerBottom">
              <div class="internetPowerPlantLeft">
			  <div class="mapTop">
			      <div id="huaiNanMap" style="position:absolute;z-index:2;left:300px;top:110px;height:80px;width:80px;"></div>
			      <div id="powerPlantMap" style="margin-left:280px;margin-top:30px;height:400px;width:450px;"></div>
			  </div>
			  <div class="mapBottom">
			      <div class="chinaMap">
			          <div style="background-size:cover;background-image:url(img/chinamap-border-pc.png);height:140px;width:190px;margin-top:-120px;margin-left:100px;">
    			          <div id="chinaMap" style="float:left;height:110px;width:140px;margin-top:15px;margin-left:30px;">
    			              
    			          </div>
			          </div>
			      </div>
			      <!--<div class="mapDetail">-->
		       <!--   		<div style="font-size:12px;color:white;background-color:;height:80%;width:100%;margin-top:40px;margin-left:-5px;">-->
						   <!--<div style="margin:20px;0px;0px;20px;width:90%;font-size:12px;font-family:Hiragino;">-->
							  <!-- 水电：<b id="powerName" style="color:#FEFF02;"></b>市电厂<br>-->
							  <!-- <br>-->
							  <!-- 管理型电：XX家<br>-->
							  <!-- <br>-->
							  <!-- 其他：XX家-->
						   <!--</div>-->
					    <!--</div>-->
			      <!--</div>-->
			  </div>
            </div>
            <div class="internetPowerPlantRight">
                <div class="internetDetail" id="internetMain">
                    <div class="internetDetailTop">
                        <div style="color:#FFFFFF;margin-top:15px;margin-left:15px;float:left"><b id="powerPlantName">集团</b>电厂</div>
                    </div>
                    <div class="internetDetailBottom">
                        <div class="internetDetailRow2" style="margin-top:7%;cursor:pointer;" onClick="priceDetailAnother('detail001')">
                            <div class="internetDetailRowPlace1">
                                <div class="internetDetailRowPlaceTitle1">
                                    平均上网电价&nbsp;<b style="font-size:15px">(&nbsp;元/千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div id="internetAverPrice1">0.02</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace2">
                                <div class="internetDetailRowPlaceTitle1">
                                    电量&nbsp;<b style="font-size:15px">(&nbsp;亿千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="multipleImg"></div><div id="powerVolume1">23.18</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace3">
                                <div class="internetDetailRowPlaceTitle1">
                                    收入&nbsp;<b style="font-size:15px">(&nbsp;万元&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="equalsImg"></div><div id="inputCash1">4636.00</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace4">
                                <div id="percentMap1" class="gaugeChart">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="internetDetailRow" style="cursor:pointer;" onClick="priceDetailAnother('detail002')">
                            <div class="internetDetailRowPlace1">
                                <div class="internetDetailRowPlaceTitle1">
                                    合约电价&nbsp;<b style="font-size:15px">(&nbsp;元/千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div id="internetAverPrice2">0.03</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace2">
                                <div class="internetDetailRowPlaceTitle1">
                                    电量&nbsp;<b style="font-size:15px">(&nbsp;亿千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="multipleImg"></div><div id="powerVolume2">20.45</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace3">
                                <div class="internetDetailRowPlaceTitle1">
                                    收入&nbsp;<b style="font-size:15px">(&nbsp;万元&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="equalsImg"></div><div id="inputCash2">6135.00</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace4">
                                <div id="percentMap2" class="gaugeChart">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="internetDetailRow2" style="cursor:pointer;" onClick="priceDetailAnother('detail003')">
                            <div class="internetDetailRowPlace1">
                                <div class="internetDetailRowPlaceTitle1">
                                    直供电价&nbsp;<b style="font-size:15px">(&nbsp;元/千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div id="internetAverPrice3">0.02</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace2">
                                <div class="internetDetailRowPlaceTitle1">
                                    电量&nbsp;<b style="font-size:15px">(&nbsp;亿千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="multipleImg"></div><div id="powerVolume3">21.20</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace3">
                                <div class="internetDetailRowPlaceTitle1">
                                    收入&nbsp;<b style="font-size:15px">(&nbsp;万元&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="equalsImg"></div><div id="inputCash3">4240.00</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace4">
                                <div id="percentMap3" class="gaugeChart">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="internetDetailRow" style="cursor:pointer;" onClick="priceDetailAnother('detail004')">
                            <div class="internetDetailRowPlace1">
                                <div class="internetDetailRowPlaceTitle1">
                                    替代电价&nbsp;<b style="font-size:15px">(&nbsp;元/千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div id="internetAverPrice4">0.02</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace2">
                                <div class="internetDetailRowPlaceTitle1">
                                    电量&nbsp;<b style="font-size:15px">(&nbsp;亿千瓦时&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="multipleImg"></div><div id="powerVolume4">23.18</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace3">
                                <div class="internetDetailRowPlaceTitle1">
                                    收入&nbsp;<b style="font-size:15px">(&nbsp;万元&nbsp;)</b>
                                </div>
                                <div class="internetDetailRowPlaceValue1">
                                    <div class="equalsImg"></div><div id="inputCash4">4636.00</div>
                                </div>
                            </div>
                            <div class="internetDetailRowPlace4">
                                <div id="percentMap4" class="gaugeChart">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="internetDetail" style="display:none;margin-top:0px;" id="internetDetail">
                    <div class="internetDetailTop" style="font-size:14px;font-family: 微软雅黑;margin-left:10px;">
                       <div style="color:#FFFFFF;margin-top:15px;margin-left:10px;float:left">
                            <span style="float:left;">
                            集团
                            </span>
                            <span onclick="internetPowerback()" style="cursor:pointer;margin-left:20px;color:rgb(255,153,0);">返回</span>
                       </div>
                    </div>
                    <div class="priceDetail_another_01" id="priceDetailDiv">
                        
                    </div>
                    <div class="priceDetail_another_font">
                        统计于<br/>2015.08.08
                    </div>
                </div>
              </div>
          </div>

        </div>
        <div class="menu_bottom">
            <ul>
                <li class="but01">
                    <div class="But01" type="button"  onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02 nav_BI">
                    <div class="But02" type="button"  onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03">
                    <div class="But03" type="button"  onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04">
                    <div class="But04" type="button"  onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05">
                    <div class="But05" type="button"  onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06">
                    <div class="But06" type="button"  onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07">
                    <div class="But07" type="button"  onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08">
                    <div class="But08" type="button"  onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
</template>