<template data-controller-name="com.zhenergy.pcbi.view.jingyingyeji">
	 <div class="nav_main">
    
        <div class="msg_top">
            <marquee behavior="scroll"><div class="msg_text"><b style="color:#32FF32;">GDP 7.8 3%↓　PPI 250 2%↑</b> &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;工业增加值6.8 &nbsp;&nbsp;&nbsp;&nbsp;<b style="color:red;">发电增速 1.1%</b> &nbsp;&nbsp;&nbsp;&nbsp;全社会用电量预测303亿千瓦时 &nbsp;&nbsp;&nbsp;&nbsp;PMI 50 2%↑ &nbsp;&nbsp;&nbsp;&nbsp;全国平均利用 668小时</div></marquee> 
        </div>
        <div class="content_center">
            <div class="rlr_main" onClick="toPerformance()">
        <div class="panel">
            <div class="panel_title">2015-08-04</div>
            <div class="panel_content">
                <div class="top">
                    <div>日利润</div>
                </div>
                <div class="middle">
                    <div class="unit">亿元</div>
                    <div class="num">2.23</div>

                </div>
                <div class="bottom">
                    <div class="tb"><span>同比下降0.2%</span><img src="img/arrow-red2.png" /></div>
                    
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="menu_bottom">
            <div class="but01">
                <button class="But01" type="button"  onClick="doit1()"></button>
            </div>
            <div class="but02 nav_BI">
                <button class="But02" type="button"  onClick="doit2()"></button>
            </div>
            <div class="but03">
                <button class="But03" type="button"  onClick="doit3()"></button>
            </div>
            <div class="but04">
                <button class="But04" type="button"  onClick="doit4()"></button>
            </div>
            <div class="but05">
                <button class="But05" type="button"  onClick="doit5()"></button>
            </div>
            <div class="but06">
                <button class="But06" type="button"  onClick="doit6()"></button>
            </div>
            <div class="but07">
                <button class="But07" type="button"  onClick="doit7()"></button>
            </div>
            <div class="but08">
                <button class="But08" type="button"  onClick="doit8()"></button>
            </div>
        </div>
    </div>
</template>