<template data-controller-name="com.zhenergy.pcbi.view.MainBusiness">
	 <div class="nav_main">
        <div class="msg_top">
           <div class="msg_top1">
               <marquee behavior="scroll" scrollamount="5">
                   <div class="msg_text">
                   <b class="newMsgIdClass"></b>
                   <!--GDP增长率<b style="color:#32FF32;" Class="valueGDPIDClass">GDP 7.8 3%↓</b>&nbsp;&nbsp;<span class="span_shuxian">|</span> &nbsp;&nbsp;PPI同比<b style="color:#32FF32;" Class="valuePPItongbiIDClass">PPI 250 2%↑</b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;制造业-同比<b Class="valuePMIproduceIDClass" style="color:#32FF32;">PMI 50 2%↑</b> &nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;非制造业-同比<b Class="valuePMInonProduceIDClass" style="color:#32FF32;"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;GDP总值<b style="color:#32FF32;" Class="valueGDPTotalIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI环比<b style="color:#32FF32;" Class="valueCPIhuanbiIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI同比<b style="color:#32FF32;" Class="valueCPItongbiIDClass"></b>-->
                   </div>
               </marquee>
           </div> 
            <div class="msg_top2">
                <div class="topToolAll">
                    <div class="userNameIcon" onmouseover="userHoverOn('userNameCon')" onmouseout="userHoverOut('userNameCon')" ></div>
                    <div class="userNameCon"><b class="userName"></b></div>
                </div>
                <div class="topToolAll">
                    <div class="userSettingIcon" onmouseover="userHoverOn('userSettingCon')" onmouseout="userHoverOut('userSettingCon')" ></div>
                    <div class="userSettingCon">
                        <a href="http://erp.zhenergy.com.cn/irj/servlet/prt/portal/prtroot/com.sap.portal.navigation.masthead.LogOutComponent?logout_submit=true" class="msg_topLogout">退出</a>
                    </div>
                </div>
                <div class="topToolAll">
                    <div class="userHelpIcon" onmouseover="userHoverOn('userHelpCon')" onmouseout="userHoverOut('userHelpCon')" ></div>
                    <div class="userHelpCon"><b class="userHelp" onClick="help()">帮助</b></div>
                </div>
                <div class="topToolAll">
                    <div class="userSkinIcon" onmouseover="userHoverOn('userSkinCon')" onmouseout="userHoverOut('userSkinCon')" ></div>
                    <div class="userSkinCon"><b class="userSkin" onClick="changeSkinCss()">夜间模式</b></div>
                </div>
            </div>
        </div>
        <div class="content_center">
            <div id="demo" style="color:white;margin-top:10px;margin-left:40px;font-weight:bold;"><span id="demo"><b onClick="doit2()" style="cursor:pointer;">经营业绩</b> > 主营业务</span></div>
            <div class="mainBusiness_main">
                <div class="mainBusiness_main_content_left">
                    <div class="panel swdl" onclick="toDetailPage('发电收入')">
                        <div class="panel_title">发电收入<span id="powerIncome">百万元</span></div>
                        <div class="panel_content">
                            <div id="powerChart"></div>
                        </div>
                    </div>
                    <div class="panel pjswdj" onclick="toDetailPage('劳务收入')">
                        <div class="panel_title">劳务收入<span id="laborIncome">百万元</span></div>
                        <div class="panel_content">
                            <div id="heatChart"></div>
                        </div>
                    </div>
                </div>
                <div class="mainBusiness_main_content_center">
    
                        <div id="srMB1">
                        </div>
                        <div id="rlrMB">
                         </div>
                        <div id="srMB2">
                        </div>
                       
                </div>
                <div class="mainBusiness_main_content_right">
                <div class="panel rlcb" onclick="toDetailPage('供热收入')">
                    <div class="panel_title">供热收入<span id="heatIncome">百万元</span></div>
                    <div class="panel_content">
                        <div id="laborChart"></div>
                    </div>
                </div>
                <div class="panel qtcb" onclick="toDetailPage('其他收入')">
                    <div class="panel_title">其他收入<span id="othersIncome">百万元</span></div>
                    <div class="panel_content">
                        <div id="othersChart"></div>
                    </div>
                </div>
    
                </div>
    
    
            </div>
        </div>
        <div class="menu_bottom">
            <ul>
                <li class="but01">
                    <div class="But01" type="button"  onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02 nav_BI">
                    <div class="But02" type="button"  onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03">
                    <div class="But03" type="button"  onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04">
                    <div class="But04" type="button"  onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05">
                    <div class="But05" type="button"  onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06">
                    <div class="But06" type="button"  onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07">
                    <div class="But07" type="button"  onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08">
                    <div class="But08" type="button"  onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
</template>