<template data-controller-name="com.zhenergy.pcbi.view.Performance">
	 <div class="nav_main">
        <div class="msg_top">
            
        </div>

        <div class="content_center">
            <div id="demo" style="color:white;margin-top:20px;margin-left:40px;font-weight:bold;"><span id="demo">经营业绩 > 利润率</span></div>
        <div class="performance_main">
            <div class="performance_main_content">
                <div class="panel swdl">
                    <div class="panel_title">上网电量<span id="swdl_span">35.23亿千瓦时</span></div>
                    <div class="panel_content">
                        <div id="swdl"></div>
                    </div>
                </div>
                <div class="panel pjswdj">
                    <div class="panel_title">平均上网电价<span id="pjswdj_span">0.4364元/千瓦时</span></div>
                    <div class="panel_content">
                        <div id="pjswdj"></div>
                    </div>
                </div>
            </div>
            <div class="performance_main_content" style="background:url(img/combination_3.png) no-repeat center center;background-size: cover;">

                    <div id="rlr">
                     </div>
                    <div id="sr">
                    </div>
                   
            </div>
            <div class="performance_main_content">
            <div class="panel rlcb" onclick="toDetailPage()">
                <div class="panel_title">燃料成本<span id="rlcb_span">8.58亿元</span></div>
                <div class="panel_content">
                    <div id="rlcb"></div>
                </div>
            </div>
            <div class="panel qtcb">
                <div class="panel_title">其他成本<span id="qtcb_span">4.62亿元</span></div>
                <div class="panel_content">
                    <div id="qtcb"></div>
                </div>
            </div>

            </div>


        </div>
        </div>
        <div class="menu_bottom">
            <ul>
                <li class="but01">
                    <div class="But01" type="button"  onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02 nav_BI">
                    <div class="But02" type="button"  onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03">
                    <div class="But03" type="button"  onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04">
                    <div class="But04" type="button"  onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05">
                    <div class="But05" type="button"  onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06">
                    <div class="But06" type="button"  onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07">
                    <div class="But07" type="button"  onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08">
                    <div class="But08" type="button"  onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
</template>