<template data-controller-name="com.zhenergy.pcbi.view.powerPlantMap">
    <div class="nav_main">
    
        <div class="msg_top">
            
        </div>
        <div class="content_center">
          <div class="internetPowerTop">
              
          </div>
          <div class="internetPowerBottom">
              <div class="internetPowerPlantLeft">
			  <div class="mapTop">
			      <div id="huaiNanMap" style="position:absolute;z-index:2;left:170px;top:150px;height:100px;width:100px;"></div>
			      <div id="powerPlantMap" style="margin-left:220px;margin-top:80px;height:461px;width:456px;"></div>
			  </div>
			  <div class="mapBottom">
			      <div class="chinaMap">
			          <div style="background-image:url(img/chinamap-border-pc.png);height:140px;width:190px;margin-top:-140px;margin-left:50px;">
    			          <div id="chinaMap" style="float:left;height:110px;width:140px;margin-top:15px;margin-left:30px;">
    			              
    			          </div>
			          </div>
			      </div>
			      <!--<div class="mapDetail">-->
		       <!--   		<div style="font-size:12px;color:white;background-color:;height:80%;width:100%;margin-top:40px;margin-left:-5px;">-->
						   <!--<div style="margin:20px;0px;0px;20px;width:90%;font-size:12px;font-family:Hiragino;">-->
							  <!-- 水电：<b id="powerName" style="color:#FEFF02;"></b>市电厂<br>-->
							  <!-- <br>-->
							  <!-- 管理型电：XX家<br>-->
							  <!-- <br>-->
							  <!-- 其他：XX家-->
						   <!--</div>-->
					    <!--</div>-->
			      <!--</div>-->
			  </div>
            </div>
              <div class="internetPowerPlantRight">

            </div>
          </div>

        </div>
        <div class="menu_bottom">
            <ul>
                <li class="but01">
                    <div class="But01" type="button"  onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02 nav_BI">
                    <div class="But02" type="button"  onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03">
                    <div class="But03" type="button"  onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04">
                    <div class="But04" type="button"  onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05">
                    <div class="But05" type="button"  onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06">
                    <div class="But06" type="button"  onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07">
                    <div class="But07" type="button"  onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08">
                    <div class="But08" type="button"  onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
</template>