<template data-controller-name="com.zhenergy.pcbi.view.tab">
 <script>
    function changeCity(value){
            
            // 初始化发电量
            $("#select03").val(1);
            
            var cityName = '';
            if (value == 1) {
                cityName = '杭州';
            }
            if (value == 4) {
                cityName = '淮南';
            }
            if (value == 2) {
                cityName = '台州';
            }
            if (value == 3) {
                cityName = '金华';
            }
	        switch(true)
	        {
	           // case value==1:
	           //     $("#select2div").empty();
	           //     var selectCon = "<select class='select' id='select02' onchange='changePowerPlant(this.value)'>";
	           //         selectCon += "<option value='杭州'>杭州电厂一</option>";
	           //         selectCon += "<option value='杭州'>杭州电厂二</option>";
	           //         selectCon += "</select>";
	           //     $("#select2div").append(selectCon);
            //         tab.getController().loadChart01(cityName,'杭州');
            //         break;
	            case value==3:
	                $("#select2div").empty();
                	var selectCon = "<select class='select' id='select02' onchange='changePowerPlant(this.value)'>";
                        selectCon += "<option value='兰溪发电'>兰溪电厂</option>";
                        selectCon += "</select>";
	                $("#select2div").append(selectCon);
                    tab.getController().loadChart01(cityName,'兰溪发电');
                    break;
                case value==2:
                    $("#select2div").empty();
                    var selectCon = "<select class='select' id='select02' onchange='changePowerPlant(this.value)'>";
                        selectCon += "<option value='台二发电'>台二电厂</option>";
                        selectCon += "</select>";
                    $("#select2div").append(selectCon);
                    tab.getController().loadChart01(cityName,'台二发电');
                    break;
                case value==4:
                    $("#select2div").empty();
                    var selectCon = "<select class='select' id='select02' onchange='changePowerPlant(this.value)'>";
                        selectCon += "<option value='凤台发电'>凤台电厂</option>";
                        selectCon += "</select>";
                    $("#select2div").append(selectCon);
                    tab.getController().loadChart01(cityName,'凤台发电');
                    break;
	        }
	}
	// 改变电厂重绘echart
	function changePowerPlant(value){
        // 初始化发电量
        $("#select03").val(1);
	    tab.getController().loadChart02(value);
	   // switch(true)
    //     {
    //         case value==1:
    //             clear();
    //             tab_powerplant = "凤台发电";
    //             tab.getController().loadData_v02(value);
    //             break;
    //         case value==2:
    //             clear();
    //             tab_powerplant = "兰溪发电";
    //             tab.getController().loadData_v02(value);
    //             break;
    //         case value==3:
    //             clear();
    //             tab_powerplant = "台二发电";
    //             tab.getController().loadData_v02(value);
    //             break;
    //     }
	}
	function change_usetime(value){
	    var tab_usetime;
	    switch(true)
	        {
	            case value==1:
	                clear();
	                tab_usetime = "发电量";
                    tab.getController().loadChart03(tab_usetime);
                    break;
                case value==2:
                    clear();
                    tab_usetime = "利用小时";
                    tab.getController().loadChart03(tab_usetime);
                    break;
	        }
	}
 </script>
	 <div class="nav_main">
        <div class="msg_top">
           <div class="msg_top1">
               <marquee behavior="scroll" scrollamount="5">
                   <div class="msg_text">
                   <b class="newMsgIdClass"></b>
                   <!--GDP增长率<b style="color:#32FF32;" Class="valueGDPIDClass">GDP 7.8 3%↓</b>&nbsp;&nbsp;<span class="span_shuxian">|</span> &nbsp;&nbsp;PPI同比<b style="color:#32FF32;" Class="valuePPItongbiIDClass">PPI 250 2%↑</b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;制造业-同比<b Class="valuePMIproduceIDClass" style="color:#32FF32;">PMI 50 2%↑</b> &nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;非制造业-同比<b Class="valuePMInonProduceIDClass" style="color:#32FF32;"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;GDP总值<b style="color:#32FF32;" Class="valueGDPTotalIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI环比<b style="color:#32FF32;" Class="valueCPIhuanbiIDClass"></b>&nbsp;&nbsp;<span class="span_shuxian">|</span>&nbsp;&nbsp;CPI同比<b style="color:#32FF32;" Class="valueCPItongbiIDClass"></b>-->
                   </div>
               </marquee>
           </div> 
           <div class="msg_top2">
                <div class="topToolAll">
                    <div class="userNameIcon" onmouseover="userHoverOn('userNameCon')" onmouseout="userHoverOut('userNameCon')" ></div>
                    <div class="userNameCon"><b class="userName"></b></div>
                </div>
                <div class="topToolAll">
                    <div class="userSettingIcon" onmouseover="userHoverOn('userSettingCon')" onmouseout="userHoverOut('userSettingCon')" ></div>
                    <div class="userSettingCon">
                        <a href="http://erp.zhenergy.com.cn/irj/servlet/prt/portal/prtroot/com.sap.portal.navigation.masthead.LogOutComponent?logout_submit=true" class="msg_topLogout">退出</a>
                    </div>
                </div>
                <div class="topToolAll">
                    <div class="userHelpIcon" onmouseover="userHoverOn('userHelpCon')" onmouseout="userHoverOut('userHelpCon')" ></div>
                    <div class="userHelpCon"><b class="userHelp" onClick="help()">帮助</b></div>
                </div>
                <div class="topToolAll">
                    <div class="userSkinIcon" onmouseover="userHoverOn('userSkinCon')" onmouseout="userHoverOut('userSkinCon')" ></div>
                    <div class="userSkinCon"><b class="userSkin" onClick="changeSkinCss()">夜间模式</b></div>
                </div>
            </div>
        </div>
        <div class="content_center">
            <div class="yinying"></div>
            <div class="yinying position1"></div>
            <div class="yinying position2"></div>
            <div class="yinying position3"></div>
            <div id="demo" style="color:white;margin-top:15px;margin-bottom:10px;margin-left:40px;font-weight:bold;font-family:微软雅黑;font-size: 17px;"><span id="demo"><b onClick="doit4()" style="cursor:pointer;">经营业绩</b> > 全社会用电量</span></div>
            <div class="tab_content">
                <div class="tab_content_head">
                    <div class="tab_content_head_01" id="tab_daytime">-年-月-日</div>
                    <div class="tab_content_head_01" id="tab_weekday">周二</div>
                </div>
                <div class="tab_content_center1">
                    <div class="tab_center1_01">
                        <div class="tab_001 tab01">
                            <div class="tab_001_date" id="temperature0_date">-</div>
                            <div class="tab_001_image img003" id="weatherimg0"></div>
                            <div class="tab_001_font"><b id="temperature0"></b>℃</div>
                        </div>
                        <div class="tab_001 ">
                            <div class="tab_001_date" id="temperature1_date">-</div>
                            <div class="tab_001_image img003" id="weatherimg1"></div>
                            <div class="tab_001_font"><b id="temperature1"></b>℃</div>
                        </div>
                        <div class="tab_001 ">
                            <div class="tab_001_date" id="temperature2_date">-</div>
                            <div class="tab_001_image img001" id="weatherimg2"></div>
                            <div class="tab_001_font"><b id="temperature2"></b>℃</div>
                        </div>
                        <div class="tab_001 ">
                            <div class="tab_001_date" id="temperature3_date" >-</div>
                            <div class="tab_001_image img003" id="weatherimg3"></div>
                            <div class="tab_001_font"><b id="temperature3"></b>℃</div>
                        </div>
                        <div class="tab_001 ">
                            <div class="tab_001_date" id="temperature4_date">-</div>
                            <div class="tab_001_image img002" id="weatherimg4"></div>
                            <div class="tab_001_font"><b id="temperature4"></b>℃</div>
                        </div>
                        <div class="tab_001 ">
                            <div class="tab_001_date" id="temperature5_date">-</div>
                            <div class="tab_001_image img001" id="weatherimg5"></div>
                            <div class="tab_001_font"><b id="temperature5"></b>℃</div>
                        </div>
                        <div class="tab_001">
                            <div class="tab_001_date" id="temperature6_date" style="font-weight:bold;font-size:22px;margin-top: 29px;"></div>
                            <div class="tab_001_image img001" id="weatherimg6"></div>
                            <div class="tab_001_font"><b id="temperature6"></b>℃</div>
                        </div>
                    </div>
                    <div class="tab_center1_02" id="line01"></div>
                    <div class="tab_center1_03" id="line02"></div>
                    <div class="tab_center1_04" id="barplace">
                        <div class="tab_bar barft" id="bar01"></div>
                        <div class="tab_bar" id="bar02"></div>
                        <div class="tab_bar" id="bar03"></div>
                        <div class="tab_bar" id="bar04"></div>
                        <div class="tab_bar" id="bar05"></div>
                        <div class="tab_bar" id="bar06"></div>
                        <div class="tab_bar" id="bar07"></div>
                        <br>
                        <div id="percentbar01" style="margin-left:80px;" class="tab_barPercent"></div>
                        <div id="percentbar02" class="tab_barPercent"></div>
                        <div id="percentbar03" class="tab_barPercent"></div>
                        <div id="percentbar04" class="tab_barPercent"></div>
                        <div id="percentbar05" class="tab_barPercent"></div>
                        <div id="percentbar06" class="tab_barPercent"></div>
                        <div id="percentbar07" class="tab_barPercent"></div>
                    </div>
                </div>
                
                <button style="width:1px;height:1px;position:relative;z-index:-999">qeqweqeqew</button>
                <div class="tab_content_center2">
                    <div class="tab_center2_01">
                        <div class="tab_center2_01_font">按地市</div>
                        <div class="tab_center2_01_choose01">
                            <select class="select" id="select01" onchange="changeCity(this.value)">
                              <!--<option value="1">杭州</option>-->
                              <option value="2">台州</option>
                              <option value="3" selected="selected">金华</option>
                              <option value="4">淮南</option>
                            </select>
                        </div>
                        <div class="tab_center2_01_font">按电厂</div>
                        <div class="tab_center2_01_choose01" id="select2div">
                            <select class="select" id="select02" onchange="changePowerPlant(this.value)">
                              <option value="兰溪发电">兰溪电厂</option>
                            </select>
                        </div>
                    </div>
                    <div class="tab_center2_02">
                        <div class="tab_center2_01_font">指标趋势</div>
                        <div class="tab_center2_02_table01" onClick="hideQiWenLine()">
                            <div class="tab_center2_02_01"></div>
                            <div class="tab_center2_02_table01_font">气温趋势(°C)</div>
                        </div>
                        <div class="tab_center2_02_table01">
                            <div class="tab_center2_02_01 table_bg"></div>
                            <div class="tab_center2_02_table01_font">社会用电量(万千瓦时)</div>
                        </div>
                        <div class="tab_center2_02_table01">
                            <div class="tab_center2_02_01 table_bg1" style="float:left;"></div>
                            <div class="tab_center2_01_choose01" style="float:left;">
                                <select class="smallSelect" id="select03" onchange="change_usetime(this.value)">
                                  <option value="1">发电量(万千瓦时)</option>
                                  <option value="2">利用小时(小时)</option>
                                </select>
                        </div>

                        </div>
                    </div>
                    <!--<div class="tab_center2_03">-->
                    <!--    <div class="tab_center2_01_font">堆煤温度</div>-->
                    <!--    <div class="tab_center2_03_img">-->
                    <!--        <div class="tab_center2_03_img01">-->
                    <!--            <div class="tab_center2_img img01"></div>-->
                    <!--            <div class="tab_center2_font">堆一</div>-->
                    <!--        </div>-->
                    <!--        <div class="tab_center2_03_img01">-->
                    <!--            <div class="tab_center2_img img02"></div>-->
                    <!--            <div class="tab_center2_font">堆二</div>-->
                    <!--        </div>-->
                    <!--        <div class="tab_center2_03_img01">-->
                    <!--            <div class="tab_center2_img img01"></div>-->
                    <!--            <div class="tab_center2_font">堆三</div>-->
                    <!--        </div>-->
                    <!--        <div class="tab_center2_03_img01">-->
                    <!--            <div class="tab_center2_img img03"></div>-->
                    <!--            <div class="tab_center2_font">堆四</div>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
                
            </div>
            
            
        </div>
       <div class="menu_bottom">
            <ul>
                <li class="but01">
                    <div class="But01" type="button"  onClick="doit1()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but02">
                    <div class="But02" type="button"  onClick="doit2()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but03">
                    <div class="But03" type="button"  onClick="doit3()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but04 nav_BI">
                    <div class="But04" type="button"  onClick="doit4()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but05">
                    <div class="But05" type="button"  onClick="doit5()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but06">
                    <div class="But06" type="button"  onClick="doit6()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but07">
                    <div class="But07" type="button"  onClick="doit7()"></div>
                </li>
                <li class="split_line"></li>
                <li class="but08">
                    <div class="But08" type="button"  onClick="doit8()"></div>
                </li>
            </ul>
        </div>
    </div>
 
</template>